[user]
	email = mail@wikinaut.de
	name = Wikinaut
[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
        url=https://github.com/Wikinaut/pinetradio.git
	fetch = +refs/heads/*:refs/remotes/origin/*
[remote "upstream"]
        url=git@github.com:Wikinaut/pinetradio.git
        fetch = +refs/heads/*:refs/remotes/upstream/*
[branch "main"]
        merge = refs/heads/main
        remote = origin
        pushremote = upstream
[pull]
	rebase = false
